{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/post.css' %}" />

<body>
    <h1>New post</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
	    <p>
            <button type="submit" class="save btn btn-default">Save</button> 
	    </p>
        </form>
	<p id="chrcnt">
	    Character count of post (including spaces):
	    <input type="number" name="count" id="counter" value="0">
        </p>
</body>

<script type="text/javascript" src="{% static 'blog/text.js' %}"></script>
